/* components/molecules/hobby-card.css */

.hobby-card {
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: transform 0.4s ease;
}

.hobby-card:hover {
    transform: translateY(-10px); /* Efecto de elevación sutil */
}