/* css/custom.css */
:root {
    --color-bg-light: #FAF8F5;
    --color-bg-dark: #334231;
    --color-primary: #869684;
    --color-text: #5c5c5c;
    --color-white: #FFFFFF;
    --font-primary: 'Poppins', sans-serif;
    --font-artistic: 'Great Vibes', cursive;
    --navbar-height: 80px;
}
body {
    font-family: var(--font-primary);
    /* ======================================== */
    /* ¡CAMBIO CLAVE! APLICAMOS EL FONDO CON TEXTURA AQUÍ */
    /* ======================================== */
    background-image: url('../assets/images/paginaInicio.png'); /* Asegúrate que la ruta sea correcta desde css/ */
    background-size: cover;
    background-attachment: fixed; /* Mantenemos el efecto parallax */
    background-position: center;
    color: var(--color-text);
}
.section-container {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table {
    border-color: transparent;
}

